@font-face {
  font-family: Bebas;
  src: url(BebasNeue-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5vw;
}

.indexMainGrid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.indexSectionGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.previewGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.indexAsideGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(223, 223, 223);
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 1vw;
  width: 25vw;
  height: 96vh;
  position: sticky;
  top: 2vh;
}

ul {
  margin-right: auto;
  margin-left: auto;
  padding: 2vw;
  border-radius: 2vw;
}
li {
  text-align: center;
  list-style: none;
  margin-top: 1vw;
  margin-left: auto;
  margin-right: auto;
}

li a {
  font-family: Bebas;
  padding-left: 2vw;
  padding-right: 2vw;
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 2.5vw;
  font-size: 3.5vw;
}

li a:hover {
  animation: hover 200ms ease-out forwards;
}

@keyframes hover {
  from {
    font-size: 3.5vw;
  }
  to {
    font-size: 3.8vw;
  }
}

.not_logo {
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
}

.prevImg {
  height: 10vw;
  padding: 1vw;
  border-radius: 2vw;
}