body {
  margin: 0;
  padding: 0;
}

footer {
  position:absolute;
  bottom:0;
  width: 100vw;
  margin: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5%;
}

.indexMainGrid {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

ul {
  padding: 0;
  border-radius: 5%;
}
li {
  text-align: center;
  list-style: none;
  margin-top: 1%;
}

li a {
  padding-left: 5%;
  padding-right: 5%;
  text-decoration: none;
  color: white;
  background-color: red;
  border-radius: 50px;
  font-size: 4vw;
}

li a:hover {
  animation: hover 200ms ease-out forwards;
}

@keyframes hover {
  from {
    font-size: 4vw;
  }
  to {
    font-size: 4.5vw;
  }
}

img.not_logo {
  width: 50%;
}
